<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{page.title}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    <meta name="generator" content="Antora {{env.ANTORA_VERSION}}">
    {{> head}}
  </head>
  <body class="{{page.layout}}{{#each page.attributes.body-class}} {{this}}{{/each}}">
    {{> header}}
    {{> body}}
    {{> footer}}
  </body>
</html>