<footer class="sk-footer">
  <div class="sk-footer-inner">
    <div>&copy; {{format-year site.time}} Skainet Project. MIT License.</div>
    <div class="sk-footer-links">
      <a href="{{{relativize site.homeUrl}}}">Home</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/tutorials/index.html">Tutorials</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/how-to/index.html">How‑to</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/reference/index.html">Reference</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/explanations/index.html">Explanations</a>
    </div>
  </div>
</footer>
