<header class="sk-header">
  <div class="sk-header-inner">
    <a class="sk-brand" href="{{{relativize site.homeUrl}}}">
      <span>SKaiNET documentation</span>
    </a>
    <nav class="sk-nav">
      <a href="{{{siteRootPath}}}/skainet/HEAD/tutorials/index.html">Tutorials</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/how-to/index.html">How‑to</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/reference/index.html">Reference</a>
      <a href="{{{siteRootPath}}}/skainet/HEAD/explanations/index.html">Explanations</a>
      <a class="sk-nav-cta" href="https://github.com/sk-ai-net/skainet">GitHub</a>
    </nav>
  </div>
</header>
